@using StartupIdentity.Core.Domain.Entities
@{
    ViewData["Title"] = "Privacy Policy";
    List<User> users = (List<User>)ViewBag.Users;
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@foreach (var user in users)
{
    <text>@user.Id - @user.Email</text><br/>
}
