@model StartupIdentity.Presentations.WebAPP.Models.Account.AccountSignOutViewModel
@{
    Layout = "_SignLayout";
    ViewData["Title"] = "SignOut";
}

<h1>Account/SignOut</h1>

@using (Html.BeginForm(FormMethod.Post))
{
    <h4>You're signing out, do you want to confim this action?</h4>

    <button type="submit" class="btn btn-danger">Confirm</button>
}