@model StartupIdentity.Presentations.WebAPP.Models.Account.AccountSignUpConfirmEmailViewModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>Account/ConfirmEmail</h1>

<p>@Model.StatusMessage</p>

